.product {
  background-color: #f5f5f5 !important;
}

.product .productImage {
  border-radius: 10px 10px 0 0;
}

.product .productImage:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.plusIcon {
  width: 16px;
}
