.products {
  margin-top: 50px;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.catalogHeading {
  font-size: 36px;
  text-align: left;
  margin-bottom: 20px;
  font-weight: 700;
}
