.productDetailsContainer {
  margin: 100px auto;
  min-height: 500px;
}
.productDetailsContainer .row {
  margin: 0 !important;
}

.productTitle {
  font-size: 1.8em;
  font-weight: bold;
}

.productDescription {
  margin-bottom: 20px;
}

.price {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.attributes {
  list-style: disc;
  /* margin-top: 20px;
  margin-left: 20px; */
}

/* .attribute {
  margin-bottom: 5px;
} */

.attributeKey {
  font-weight: bold;
}

@media (max-width: 768px) {
  .productTitle {
    margin-top: 25px;
  }
}

.priceLabel,
.boldBigPrice {
  font-weight: bold;
  font-size: 1.5rem;
  color: #1371ac;
}

.dollar-icon {
  margin-right: 5px;
}

.priceLabel,
.boldBigPrice {
  font-weight: bold;
  font-size: 1.5rem;
  color: #1371ac;
  align-items: center;
}

.dollar-icon {
  margin-right: 10px;
  font-size: 1.5rem;
}

.thumbnail {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.thumbnail:hover {
  opacity: 1;
}

.selected {
  border: 2px solid #1371ac;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1.1);
}

.quantitySelector {
  margin-bottom: 15px;
}

.quantitySelector label {
  display: block;
  margin-bottom: 5px;
}

.quantitySelector input[type="number"] {
  width: 80px;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.quantitySelector button {
  border: none;
  background-color: #e9ecef;
  padding: 5px 10px;
  border-radius: 0.25rem;
  cursor: pointer;
}

.quantitySelector button:hover {
  background-color: #dee2e6;
}

.addToCartButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 0.25rem;
  cursor: pointer;
}

.addToCartButton:hover {
  background-color: #0056b3;
}
