.productDetailsContainer {
  margin: 150px auto;
}
.productDetailsContainer .row {
  margin: 0 !important;
}

.productTitle {
  font-size: 1.8em;
  font-weight: bold;
}

.productDescription {
  margin-bottom: 20px;
}

.price {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.attributes {
  list-style: disc;
  /* margin-top: 20px;
  margin-left: 20px; */
}

/* .attribute {
  margin-bottom: 5px;
} */

.attributeKey {
  font-weight: bold;
}

@media (max-width: 768px) {
  .productTitle {
    margin-top: 25px;
  }
}

.priceLabel,
.boldBigPrice {
  font-weight: bold;
  font-size: 1.5rem;
  color: #1371ac;
}

.dollar-icon {
  margin-right: 5px;
}

.priceLabel,
.boldBigPrice {
  font-weight: bold;
  font-size: 1.5rem;
  color: #1371ac;
  align-items: center; /* Center the icon vertically */
}

.dollar-icon {
  margin-right: 10px; /* Increase the margin for better spacing */
  font-size: 1.5rem; /* Adjust the icon size */
}
