@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #333; /* Dark gray */
}

.not-found-container h1 {
  font-size: 8em;
  font-weight: 700;
  margin-bottom: 10px;
}

.not-found-container p {
  font-size: 1.2em;
}

.redirect-link {
  color: #555; /* Slightly lighter gray */
  text-decoration: underline;
  cursor: pointer;
}
